<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}Author{% endblock %}</title>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
    }
    .container {
        max-width: 800px;
        margin: 0 auto;
</style>
</head>
<body>
<div class="container">
    <div style="text-align: right; margin-bottom: 10px;">
        <form method="GET" action="{% url 'main' %}">
            {% csrf_token %}
            <button type="submit">Return to quotes</button>
        </form>
    </div>

    {% block content %}

    <div class="author-details">
        <h3 class="author-title">{{ author.fullname }}</h3>
        <p><strong>Born:</strong> <span class="author-born-date">{{ author.born_date }}</span> <span
                class="author-born-location">{{ author.born_location }}</span></p>
        <p><strong>Description:</strong></p>
        <div class="author-description">
            {{ author.description }}
        </div>
    </div>

    {% endblock %}
</div>
</body>
</html>